.main {
  &__projects {
    text-align: center;
    height: 100vh;

  }
}

.projects {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  
  &__buttons {
    list-style: none;
    display: flex;
    gap: 1em;
    justify-content: space-between;
  }
  
  &__description {
    padding: 1.5em;
    max-width: 600px;
    border-radius: 1em;
    border-width: 1px;
    background-color: var(--on-background-alt);
    color: var(--on-primary);
  }
}